.reset-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: center;
}

.reset-container h2 {
  margin-bottom: 20px;
}

.reset-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-container button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  margin-left: 10px;
  transition: background 0.3s ease;
}
.reset-container button:hover {
  background: darkgreen;
}

.message {
  color: red;
  font-size: 14px;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 80%;
  padding: 10px;
  padding-right: 40px;
}

.toggle-visibility {
  position: absolute;
  right: 30px;
  top: 8px;
  cursor: pointer;
  font-size: 18px;
}
